@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&display=swap');

html {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Encode Sans', sans-serif;
}

.text {
    font-family: 'Encode Sans', sans-serif;
    color: var(--text);
}

.bg {
    background-color: var(--background);
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}

.accent-bg {
    background-color: var(--text);
}

.primary-text {
    color: var(--primary);
}

.secondary-text {
    color: var(--secondary);
}

.accent-text {
    color: var(--accent);
}

:root {
    --text: #eeeeee;
    --background: #161616;
    --primary: #d39427;
    --secondary: #7b5d8b;
    --accent: #84f0c8;
}
